.concept {
  margin-bottom: 25px;
  h3 {
    font-family: 'PP Migra';
    font-size: 25px;
    color: var(--sapin);
  }
}


@media (min-width:1200px) {
  .concepts-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    .concept {
      width: calc(50% - 15px);

      h3 {
        font-size: 40px;
      }
    }
  }
}