.numbers-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  .numbers-card {
    background: var(--sapin);
    color: var(--beige);

    width: 48%;
    padding: 20px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 15px;

    margin-bottom: 12px;

    .number {
      font-family: 'PP Migra';
      font-weight: bold;
      font-size: 30px;
    }
    p {
      line-height: 1.2;
    }
  }
}

@media (min-width:1200px) {
  .numbers-cards-container {
    .numbers-card {  
      width: calc(33.33% - calc(50px / 3));
      padding: 40px;

      border-radius: 35px;
  
      margin-bottom: 25px;

      height: 400px;

      &.article-numbers-card {
        height: 200px;
        padding: 30px;
        .number {
          font-size: 50px;
        }
        p {
          font-size: 20px;
        }
      }
  
      .number {
        font-size: 80px;
      }
      p {
        font-size: 30px;
      }
    }
  }
  
}