.hero-section {
  color: var(--sapin);
  font-family: 'PP Migra';
  line-height: 1.2;

  .hero-mockup-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    img {
      width: 50%;
      margin: 0 auto;
      height: auto;

    }
  }
  .hero-content-container {
    h2.hero-baseline {
      font-weight: bold;
      font-size: 50px;
    }
    p.hero-sub-baseline {
      font-family: 'PP Neue Montreal book';
      font-size: 20px;
      margin-bottom: 70px;
    }
    h3 {
      font-size: 34px;
      margin-bottom: 20px;
      &:last-of-type {
        margin-bottom: 70px;
      }
    }
    img {
      margin-bottom: 30px;
      
      &:first-of-type {
        margin-top: -50px;
      }
      &.store {
        margin-top: 0px;
      }
    }
  }


  .call-to-action {
    margin-top: 40px;
    margin-bottom: 100px;
    p {
      font-family: 'PP Neue Montreal book';
      font-weight: 300;
      font-size: 25px;
      margin-bottom: 15px;
    }
    .store-button-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      img {
        width: 90%;
      }
    }
  }
}


@media (min-width: 768px) {
  .hero-section {
    display: flex;
    flex-direction: row;

    .hero-mockup-container {
      width: 50%;
      display: flex;
      align-items: flex-start;
      img {
        width: 40%;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
        max-height: none;
      }
    }
    .hero-content-container {
      width: 50%;
      h2.hero-baseline {
        font-size: 100px;
        margin-top: 150px;
        margin-bottom: 70px;
      }
      p.hero-sub-baseline {

        font-size: 45px;
  
        margin-bottom: 150px;
      }
      h3 {
        font-size: 55px;
        margin-bottom: 20px; 
        &:last-of-type {
          margin-bottom: 100PX;
        }
       }
       img {
        margin-bottom: 150px;
        
        &:first-of-type {
          margin-top: -80px;
        }
        &.store {
          margin-top: 0px;
        }
      }
    }
    .call-to-action {
      margin-top: 60px;
      margin-bottom: 150px;
      p {
        font-size: 30px;
        margin-bottom: 15px;
      }
      .store-button-container {

        justify-content: flex-start;
        img {
          margin-right: 3%;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  
}