/* ====================================
// css variables
// ==================================== */

:root {
  --beige: #fefbf3;
  --sapin: #074020;
  --black: #000000;
  --green: #2FAC66;
  --hover: #07402027;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-family: 'PP Neue Montreal Book';

  font-size: 1rem;
  line-height: 1.5;

  background: var(--beige);

  overflow-x: hidden;
}


a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

ul,ol {
  list-style-type: none;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: inherit;
}

/* ====================================
// base rules
// ==================================== */

//p

@media (min-width:1200px) {
  p,li, li span {
    font-size: 25px;
  }
  
}

//section
section, article .section-title {
  margin-top: 50px;
}
.section-title {
  font-family: 'PP Migra';
  font-weight: bold;
  color: var(--sapin);

  font-size: 30px;
  line-height: 1.2;

  margin-bottom: 20px;
}
.wide .section-title {
  color: var(--beige);
}

@media (min-width:768px) {
   section, article .section-title {
    margin-top: 150px;
    &:first-child {
      margin-top: 75px;
    }
  }
  .section-title {
    font-size: 70px;
    line-height: 1.2;
  
    margin-bottom: 20px;
  }
  
}

@media (min-width:1200px) {
  section, article .section-title {
   margin-top: 250px;
   &:first-child {
     margin-top: 75px;
   }
 }
 .section-title {
   font-size: 90px;
   line-height: 1;
 
   margin-bottom: 60px;
 }
 
}

//show more button

.show-more {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .show-more-button {
    color: var(--sapin);
    font-family: 'PP Migra';
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;

    padding: 9px 10px 5px 10px;

    border: solid 2px var(--sapin);
    border-radius: 20px;

    transition: 0.3s ease-in-out;

    &:hover {
      background: var(--hover);
      cursor: pointer;
    }
    &.is-active {
      background: var(--sapin);
      color: var(--beige);

      transition: 0.3s ease-in-out;

    }
  }
}

@media (min-width:1200px) {
  .show-more {
    font-size: 25px;
  }
}


  li .filtered,
  li.filtered {
    background: #074020;
    transition: 0.1s ease-in-out;
  
    &:hover {
      background: #2fac6500;
      transition: 0.1s ease-in-out;
      img {
        mix-blend-mode: none;
        -webkit-filter:none;
        filter: none;
        transition: 0.1s ease-in-out;
      }
    }
  }
  
  li .filtered img,
  li.filtred img{
   mix-blend-mode: screen;
   -webkit-filter: grayscale(100%) contrast(200%);
   filter: grayscale(100%) contrast(200%);
   opacity: 1;
   transition: 0.1s ease-in-out;
  
   &:hover {
    mix-blend-mode: none;
    -webkit-filter:none;
    filter: none;
    transition: 0.1s ease-in-out;
  
   }
  
  }

  .mission-card-img-container {
    img {
      mix-blend-mode: none;
      -webkit-filter:none;
      filter: none;
      transition: 0.5s ease-in-out;
    }
  }