main, .header-content, .burger-overlay-content, .footer-content {
  max-width: 1600px;
  margin: 0 25px;
}

section.wide {
  margin: 0 -25px;
  padding: 50px 25px;
}


@media (min-width:1200px) {
  main, .header-content, .burger-overlay-content, .footer-content {
    margin: 0 50px;
  }
  section.wide {
    margin: 0 -50px;
    padding: 70px 50px 110px 50px;
  }
}

@media (min-width:1600px) {
  main, .header-content, .burger-overlay-content, .footer-content {
    margin: 0 auto;
  }
  section.wide {
    margin: 0 -200px;
    padding: 70px 200px 110px 200px;
  }
 footer {
  margin: 0 auto;
 }
}